.x-floating strong {
	font-weight: bold;
}
.x-floating em {
	font-style: italic;
}
.transparent_label {
	background: transparent;
}

.x-form-fieldset .x-layout-hbox .x-field {
	border-bottom: 0;
}

.x-form-fieldset .x-layout-hbox {
	border-bottom: 1px solid #DDD;
}

.x-floating .x-innerhtml li {
	list-style: inside disc;
	margin-left: 2em;
	text-indent: -1em;
	padding-right: 1em;
}