.x-floating strong {
	font-weight: bold;
}
.x-floating em {
	font-style: italic;
}
.transparent_label {
	background: transparent;
}

.x-form-fieldset .x-layout-hbox .x-field {
	border-bottom: 0;
}

.x-form-fieldset .x-layout-hbox {
	border-bottom: 1px solid #DDD;
}

.x-floating .x-innerhtml li {
	list-style: inside disc;
	margin-left: 2em;
	text-indent: -1em;
	padding-right: 1em;
}


.x-toggle-field.x-field-small {
	min-height: 1.8em;
}

.x-toggle-field.x-field-small > .x-component-outer {
	padding: 0.4em;
}

.x-toggle-field.x-field-small .x-toggle {
	border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	height: 1.6em;
}


.x-toggle-field.x-field-small .x-thumb {
	height: 1.2em;
	width: 1.2em;
	border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
}

.x-toggle-field.x-field-small .x-thumb::before {
	height: 1.2em;
	width: 1.2em;
}
.x-toggle-field.x-field-small .x-toggle-on .x-thumb {
	left: -0.35em;	
}